<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/contact.css">
</head>

<body>

        <form class="modal-content" action="/action_page.php">
            <div class="container">

                <h2><b>Email</b></h2>
                <p>jankibala34@gmail.com</p>

                <h2><b>Phone Number</b></h2>
                <p>9784767678</p>

                <div class="clearfix">
                    <button type="button" onclick="document.style.display='none'"
                        class="callbtn">Video Call</button>

                </div>
            </div>
        </form>
  

</body>

</html>